Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
gitignore file >open in /finder
#Starter Content Anti-Push
Content/StarterContent/*
#ThirdPerson Pack Removal
Content/Characters/*
Content/LevelPrototyping/*
Content/ThirdPerson*